body{
    background-image: url(kart/Отдай.jpg);
}

.Nadpisi{
    text-align: center;
    margin-top: 250px;
}

.F{
    line-height: normal;
    color:black ;
    font-size: 150px;
}

.logo{
    position: fixed;
    width: 158px;
    height: 135px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
}
